.App {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}
.header{
  position:absolute;
  top:0;
  width:100pc;
  height:10pc;
  background-color: rgba(122, 202, 255, 0.463);
}

h1{
  margin-left: 5pc;
  position:relative;
  top:2pc;
}

img{
  position:absolute;
  top:15pc;
  left:5pc;
}
